<h1><%= @task.title %></h1>
<h4><%= @task.details %></h4>

<p><%= check_box('done', @task.completed, {checked: @task.completed}) %> <%= @message %>

<h2><%= link_to 'Edit', edit_task_path(@task) %></h2>

<%= link_to 'Go back', tasks_path %>
<h2><%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm: "Are you sure?"} %></h2>
